.page  {
    border-style: solid;
    border-color: black;
    border-radius: 2mm;
    height: auto;
    margin: 50px;
    padding: 50px;
    text-align: center;
}
 
#top{
    margin: 5px, 20px, 50px, 20px;
    position: relative;
    width: 400;
    height: 20px;
   
}

#time{
position: relative;
margin-right: 25px;
float: right;

}
#score{
    position: relative;
    width: 150px;
    float: left;
} 

button{
    margin-top: 10px;
    background-color: rebeccapurple;
    height: 35px;
    width: 115px;
    font-size: medium;
    border-radius: 2mm;
    color: white;
}

#main-text{
    position: relative;
    margin-top: 50px;
}

 #question-body{
    display: none;
} 

/*get option buttons in block*/


#answers button {
    display: block; 
}

#answers{
    
    padding-bottom: 20px;
    border-style: solid;
    border-color: gray;
    border-width: 0 0 1px 0;
}


