
.page  {
    border-style: solid;
    border-color: black;
    border-radius: 2mm;
    min-height: 350px;
    height: auto;
    margin: 50px;
    padding: 50px;
    text-align: center;
}
 
#top{
    margin: 5px, 20px, 50px, 20px;
    position: relative;
    width: 400;
    height: 20px;
   
}

#time{
position: relative;
margin-right: 25px;
float: right;

}
#score{
    position: relative;
    width: 150px;
    float: left;
} 

button{
    margin-top: 10px;
    background-color: rebeccapurple;
    height: 35px;
    width: auto;
    font-size: medium;
    border-radius: 2mm;
    color: white;
}

#main-text{
    position: relative;
    margin-top: 50px;
}

 #question-body, #init-input {
    display: none;
} 

    

/*get option buttons in block*/

#answers button {
    display: block;
    text-align: left; 
    width: 100%;
    margin-left: 0;
    
}
/* all buttonts match the size of the longest one */
#answers{
    width: 100%;
    padding-bottom: 20px;
    padding-left: 0;
    margin-left: 0;
    max-width: fit-content;
}

#question-body{
  
    box-sizing: border-box;
    text-align: left;
    padding-left: 0;
    margin-left: 0;
    
}
/* correct or wrong word and top border style */
#C-or-W {
    text-align: left;
   padding-top: 10px;
    border-style: solid;
    border-color: gray;
    border-width: 1px 0 0 0;
    font-size: large;
    font-style: italic;
color: lightslategray
}


#init-input{
    text-align: left;
}
#submit-button{
    margin-left: 10px;
    height: 25px;
}
